// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #565656;
$primary1:#e1e1e1;
//$primary: #359d9e;
$secondary: #566866;
$accent: #d17ee0;

$dark: #1d1d1d;
$gris-claro: #e1e1e1e1;
$dark-page: #686262;

$positive: #25ea3c;
$negative: #c10015;
$info: #c7f1fa;
$warning: #f2c037;

$loading: #45a1db;

